<div class="breadcrumbs">
    <div class="container container-narrow">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="catalog.html" class="breadcrumbs__link">Shop</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link breadcrumbs__link--current">New Arrvals</a>
            </li>
        </ul>
        @include('../html/prev-next.html')
    </div>
</div>