<div class="catalog-grid" id="catalog">
    <div class="catalog-grid__props catalog-props">
        <div class="catalog-props__top">
            <button class="btn-reset catalog-mobile-filters">
                <svg height="394pt" viewBox="-5 0 394 394.00003" width="394pt" xmlns="http://www.w3.org/2000/svg">
                    <path d="m367.820312 0h-351.261718c-6.199219-.0117188-11.878906 3.449219-14.710938 8.960938-2.871094 5.585937-2.367187 12.3125 1.300782 17.414062l128.6875 181.285156c.042968.0625.089843.121094.132812.183594 4.675781 6.3125 7.207031 13.960938 7.21875 21.816406v147.800782c-.027344 4.375 1.691406 8.582031 4.773438 11.6875 3.085937 3.101562 7.28125 4.851562 11.65625 4.851562 2.222656-.003906 4.425781-.445312 6.480468-1.300781l72.3125-27.570313c6.476563-1.980468 10.777344-8.09375 10.777344-15.453125v-120.015625c.011719-7.855468 2.542969-15.503906 7.214844-21.816406.042968-.0625.089844-.121094.132812-.183594l128.691406-181.289062c3.667969-5.097656 4.171876-11.820313 1.300782-17.40625-2.828125-5.515625-8.511719-8.9765628-14.707032-8.964844zm0 0" />
                </svg>
                <span>Filters</span>
            </button>
            <div class="catalog-props__columns catalog-columns">
                <span class="catalog-columns__text">Column number:</span>
                <ul class="catalog-columns__list">
                    <li class="catalog-columns__item">
                        <button class="btn-reset main-link catalog-columns__btn" data-columns="3">3</button>
                    </li>
                    <li class="catalog-columns__item">
                        <button class="btn-reset main-link catalog-columns__btn catalog-columns__btn--current" data-columns="4">4</button>
                    </li>
                    <li class="catalog-columns__item">
                        <button class="btn-reset main-link catalog-columns__btn" data-columns="5">5</button>
                    </li>
                </ul>
            </div> <!-- /.catalog-props__columns -->
            <div class="custom-select" tabindex="0">
                <div class="custom-select__top">Sort by latest</div>
                <div class="custom-select__dropdown">
                    <ul class="custom-select__list" data-bar_select>
                        <li class="custom-select__item">Sort by latest</li>
                        <li class="custom-select__item">Sort by price</li>
                        <li class="custom-select__item">Sort by time</li>
                        <li class="custom-select__item">Sort by popular</li>
                    </ul>
                </div>
            </div> <!-- /.custom-select -->
        </div> <!-- /.catalog-props__top -->
        <div class="catalog-props__choice catalog-choice">
            <button class="btn-reset catalog-choice__clear">Clear all</button>
        </div>
    </div> <!-- /.catalog-grid__props -->
    <ul class="catalog-grid__list" data-grid-columns="4"></ul>
    <ul class="custom-pagination">
        <li class="custom-pagination__item js-custom-pagination__item--prev">
            <a href="#catalog" class="custom-pagination__link">
                <svg class="">
                    <use xlink:href="img/sprite.svg#angle-left"></use>
                </svg>
                Prev
            </a>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--begin">
            <a href="#catalog" class="custom-pagination__link js-custom-pagination__link--begin custom-pagination__link--current">1</a>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--more-prev">
            <div class="custom-pagination__link">..</div>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--one">
            <a href="#catalog" class="custom-pagination__link js-custom-pagination__link--one">2</a>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--two">
            <a href="#catalog" class="custom-pagination__link js-custom-pagination__link--two">3</a>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--tree">
            <a href="#catalog" class="custom-pagination__link js-custom-pagination__link--tree">4</a>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--more-next">
            <div class="custom-pagination__link">..</div>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--end">
            <a href="#catalog" class="custom-pagination__link js-custom-pagination__link--end">max</a>
        </li>
        <li class="custom-pagination__item js-custom-pagination__item--next">
            <a href="#catalog" class="custom-pagination__link">
                Next
                <svg class="">
                    <use xlink:href="img/sprite.svg#angle-right"></use>
                </svg>
            </a>
        </li>
    </ul> <!-- /.custom-pagination -->
</div> <!-- /.catalog-grid -->