<div class="search-modal">
    <div class="search-modal__content-wrapper">
        <div class="search-modal__content">
            <button class="search-modal__close btn-reset">Close
                <svg class="search-modal__close-icon">
                    <use xlink:href="img/sprite.svg#close" aria-label="close search window"></use>
                </svg>
            </button>
            <form action="#" class="search-modal__form form-search">
                <span class="form-search__title">What are you looking for?</span>
                <input class="form-search__field"
                       type="search"
                       placeholder="Search here…"
                       name="search"
                       autocomplete="off">
                <button class="form-search__submit" type="submit" aria-label="Find">
                    <svg class="form-search__search-icon">
                        <use xlink:href="img/sprite.svg#search" aria-label="search icon"></use>
                    </svg>
                </button>
                <div class="form-search__results-container">
                    <div class="form-search__results-inner" data-bar_search>

<!--                        <div class="form-search__product">-->
<!--                            <a href="" class="form-search__product-media">-->
<!--                                <img src="img/prod-1.jpg" alt="prod 1">-->
<!--                            </a>-->
<!--                            <div class="form-search__product-detail">-->
<!--                                <h3 class="form-search__product-name">-->
<!--                                    <a href="">Chambray Shirt In Vintage Indigo</a>-->
<!--                                </h3>-->
<!--                                <div class="form-search__product-info">-->
<!--                                    <span class="form-search__product-cost">$ 99.00</span>-->
<!--                                    <span class="product__old-price">$ 120.00</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->



                        <div class="form-search__empty form-search__empty--hidden">No matches found..</div>
                    </div> <!-- /.form-search__results-inner -->
                </div> <!-- /.form-search__results-container -->
            </form>
        </div> <!-- /.search-modal__content -->
    </div> <!-- /.search-modal__content-wrapper -->
</div> <!-- /.search-modal -->