<section class="shop-banners">
    <h2 class="visually-hidden">Banners</h2>
    <div class="container shop-banners__container">
        <a href="#" class="shop-banners__banner shop-banner shop-banner--men">
            <img class="shop-banner__img" src="img/main/banner-1.jpg" alt="men">
            <h3 class="shop-banner__title">Men’s Sportswear</h3>
            <span class="shop-banner__text main-link main-link--white">Read more</span>
        </a>
        <a href="#" class="shop-banners__banner shop-banner shop-banner--women">
            <img class="shop-banner__img" src="img/main/banner-2.jpg" alt="women">
            <h3 class="shop-banner__title">Find your fit</h3>
            <span class="shop-banner__text main-link main-link--white">Read more</span>
        </a>
    </div>
</section>
