.card {
  padding-top: 65px;
}

.card-content {
  padding-top: 20px;

  &__bottom {
    padding-top: 70px;
  }
}

.card-top {
  .container {
    display: flex;

    @include sm {
      flex-wrap: wrap;
    }
  }

  &__left {
    width: 57.5%;

    @include sm {
      width: 100%;
    }
  }

  &__right {
    padding-top: 57px;
    padding-left: 10.7%;
    width: calc(100% - 57.5%);

    @include lg {
      padding-left: 5%;
    }

    @include sm {
      padding-left: 0;
      width: 100%;
    }
  }
}

.card-info {
  &__prop {
    margin-bottom: 16px;
    padding-left: 19px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
  }

  &__rate {
    margin-bottom: 25px;
    font-size: 13px;
    color: var(--color-gray);

    img {
      margin-right: 3px;
    }
  }

  &__price {
    margin-bottom: 22px;
  }

  &__description {
    margin-bottom: 52px;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-tundora);
  }

  &__first-select {
    margin-bottom: 28px;
  }

  &__second-select {
    margin-bottom: 82px;
  }

  &__stepper {
    margin-bottom: 10px;
  }

  &__btn {
    margin-bottom: 10px;
    width: 100%;
    height: 58px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-dark);
    background-color: #f2f2f2;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-dark);
      transition: color 0.3s, background-color 0.3s;
    }

    &--tocart {
      color: var(--color-white);
      background-color: var(--color-dark);

      &:hover {
        color: var(--color-dark);
        background-color: #f2f2f2;
        transition: color 0.3s, background-color 0.3s;
      }
    }
  }
}

.info-price {
  display: flex;
  align-items: flex-end;

  &__current {
    margin-right: 20px;
  }

  &__conventional,
  &__current {
    font-weight: 700;
    font-size: 24px;
  }

  &__old,
  &__conventional-old {
    font-size: 16px;
    text-decoration: line-through;
    color: #959595;
  }
}

.color-select {
  &__selected {
    display: inline-block;
    margin: 0;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-gray);

    span {
      color: var(--color-dark);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    padding-left: 4px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__btn {
    position: relative;
    border-radius: 100%;
    width: 24px;
    height: 24px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid #ccc;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      transform: translate(-50%, -50%);
      transition: border 0.3s;
    }

    &:hover {
      &::before {
        border: 1px solid var(--color-dark);
        transition: border 0.3s;
      }
    }

    &--active {
      &::before {
        border: 1px solid var(--color-dark);
        transition: border 0.3s;
      }
    }
  }
}

.size-select {
  &__selected {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-gray);

    span {
      color: var(--color-dark);
    }
  }

  &__clear {
    display: none;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #d24242;

    svg {
      margin-right: 2px;
      width: 8px;
      height: 8px;
      fill: currentColor;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    @include lg {
      flex-wrap: wrap;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }

    @include lg {
      margin-bottom: 5px;
    }
  }

  &__btn {
    position: relative;
    width: 42px;
    height: 32px;
    font-size: 13px;
    color: var(--color-gray);
    transition: color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #ccc;
      width: 100%;
      height: 100%;
      transition: border 0.3s;
    }

    &:hover {
      color: var(--color-dark);
      transition: color 0.3s;

      &::before {
        border: 1px solid var(--color-dark);
        transition: border 0.3s;
      }
    }

    &--active {
      color: var(--color-dark);
      transition: color 0.3s;

      &::before {
        border: 1px solid var(--color-dark);
        transition: border 0.3s;
      }
    }
  }
}

.card-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  span {
    color: var(--color-gray);
  }

  &__item {
    @include md {
      margin-bottom: 5px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 15px;

    span {
      margin-right: 13px;
    }

    @include sm {
      width: 100%;
    }
  }
}

.card-description {
  display: flex;
  align-items: flex-start;
  transition: height 1s;

  &__left {
    padding-top: 30px;
    width: 16%;

    @include md {
      width: 35%;
    }

    @include xs {
      width: 100%;
    }
  }

  &__right {
    overflow: hidden;
    padding-top: 21px;
    padding-right: 120px;
    padding-left: 125px;
    width: 84%;

    @include md {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include xs {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  &__navigation {
    padding: 23px 0;
    width: 100%;
    max-height: 210px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    color: var(--color-gray);
    transition: color 0.3s;

    &:hover {
      color: var(--color-dark);
      transition: color 0.3s;
    }

    &--active {
      color: var(--color-dark);
      pointer-events: none;
    }
  }

  &__content {
    opacity: 0;
    transform: translateX(5%);
    transition: opacity 0.5s, transform 1s;

    p {
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 13px;
      line-height: 26px;
    }

    &--active {
      display: block;
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @include xs {
    flex-wrap: wrap;
  }
}

.simplebar-track.simplebar-vertical {
  width: 3px;
  background-color: #ccc;
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  border-radius: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-dark);
  opacity: 1;
}

.card-related {
  padding-top: 40px;

  &__title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
  }
}

.related-pag {
  left: 0;
  bottom: 0;
  text-align: left;

  .swiper-pagination-bullet {
    margin: 0 8px !important;
    width: 6px;
    height: 6px;
    background-color: #ccc;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: var(--color-dark);
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      background-color: #ccc;
      transform: translate(-50%, -50%);
    }
  }
}