.catalog-filters {
  margin-right: 30px;
  padding-top: 27px;
  padding-right: 62px;
  width: 309px;

  @include md {
    width: 50%;
  }

  @include sm {
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 30;
    display: none;
    padding: 30px 40px;
    width: 100%;
    background: #fff;
  }
}

.catalog-filters--open {
  display: block;
}

.catalog-mobile-filters {
  display: none;

  @include sm {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
}

.catalog-content {
  position: relative;
  min-height: 500px;

  .container {
    display: flex;
  }
}

.hide-filters {
  position: relative;
  margin-bottom: 18px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  &__close-icon {
    position: absolute;
    left: 5px;
    bottom: -1px;
    width: 13px;
    height: 13px;
    fill: var(--color-dark);
  }
}

.catalog-filter {
  border-top: 1px solid #eee;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    cursor: pointer;
    user-select: none;
  }

  &__caption {
    display: flex;
    align-items: center;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__quantity {
    margin-left: 5px;
    min-width: 16px;
    transform: translateY(-1px);
  }

  &__bottom {
    overflow: hidden;
    max-height: 0;
    box-sizing: border-box;
    transition: max-height 0.5s;
  }

  &__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: currentColor;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }

  &__items {
    columns: 2;
    padding-bottom: 24px;
  }

  &__item {
    margin-bottom: 14px;
  }

  &:last-child {
    border-bottom: 1px solid #eee;
  }

  &--open {
    .catalog-filter__bottom {
      max-height: 300px;
    }

    .catalog-filter__toggle {
      &::before {
        display: none;
      }
    }
  }
}

[data-filter="price"],
[data-filter="discount"] {
  .catalog-filter__items {
    columns: 1;
  }
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;
    padding-left: 15px;
    font-size: 13px;
    color: var(--color-gray);
    transition: color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      border: 2px solid #aaa;
      width: 11px;
      height: 11px;
    }

    &::after {
      content: "\2713";
      position: absolute;
      left: 2px;
      top: 0;
      display: none;
      color: #aaa;
    }

    &:hover {
      color: var(--color-dark);
      transition: color 0.3s;
    }
  }

  &__input {
    &:checked + span {
      color: var(--color-dark);

      &::before {
        border-color: var(--color-dark);
      }

      &::after {
        display: block;
        color: var(--color-dark);
      }
    }
  }
}