.footer {
  &__container {
    max-width: 1920px;
  }

  &__content {
    padding: 98px 250px 0;

    @include lg-max {
      padding: 0 100px;
      padding-top: 98px;
    }

    @include lg {
      padding: 0;
      padding-top: 80px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;

    @include sm {
      flex-wrap: wrap;
      padding-bottom: 50px;
    }
  }

  &__column {
    &:last-child {
      @include md {
        width: 40%;
      }

      @include sm {
        margin-top: 40px;
        width: 100%;
      }
    }

    &:nth-child(2) {
      margin-left: -60px;

      @include md {
        margin-left: 0;
      }
    }

    &--flex {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__list {
    &--row {
      display: flex;
      align-items: center;

      .footer__item {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 43px;

          @include sm {
            margin-right: 20px;
          }
        }
      }
    }
  }

  &__select {
    display: flex;
    align-items: center;
    margin-left: 60px;

    &-caption {
      margin-right: 14px;
      font-size: 13px;
      color: var(--color-gray);
    }
  }

  &__copy {
    font-size: 13px;
  }

  &__link {
    position: relative;
    font-size: 13px;
    color: var(--color-tundora);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: currentColor;
      opacity: 0;
      transition: opacity 0.3s, width 0.3s;
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s, width 0.3s;
      }
    }

    &--row {
      font-weight: 700;
      color: var(--color-dark);
    }

    @include xs {
      font-size: 12px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 37px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    @include xs {
      font-size: 14px;
    }
  }

  &__form {
    margin-bottom: 25px;
    width: 646px;
    transform: translateY(3px);

    @include md {
      width: 100%;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 13px;
    color: var(--color-tundora);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding: 40px 0;

    @include xs {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__left {
    @include xs {
      margin-bottom: 20px;
    }
  }

  &__social {
    margin-right: 11px;
  }
}

.subscribe-form {
  position: relative;

  &__title {
    margin: 0;
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-tundora);
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 13px 10px;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-dark);
  }

  &__field {
    display: block;
    border-bottom: 2px solid var(--color-dark);
    padding-bottom: 10px;
    width: 100%;

    input {
      outline: 0;
      border: none;
      padding-right: 80px;
      width: 100%;
      font-weight: 500;
      font-size: 13px;
      color: var(--color-dark);

      &::placeholder {
        color: rgba(#454545, 0.5);
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 29px;
    }
  }

  &__link {
    display: block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.3s;
    }

    &--tw {
      background-image: url("../img/footer/icon-tw.png");
    }

    &--fb {
      background-image: url("../img/footer/icon-fb.png");
    }

    &--in {
      background-image: url("../img/footer/icon-in.png");
    }

    &--pin {
      background-image: url("../img/footer/icon-pin.png");
    }
  }
}

.footer--2 {
  .footer__top {
    border-top: 1px solid #eee;
    padding-top: 42px;
    padding-bottom: 19px;
    padding-left: 11px;

    @include md {
      flex-wrap: wrap;
    }
  }

  .footer__column:first-child {
    @include xs {
      margin-bottom: 30px;
      width: 100%;

      .footer__social {
        justify-content: center;
      }
    }
  }

  .footer__column:last-child {
    @include md {
      margin-top: 30px;
      width: 100%;

      .footer__select {
        margin-right: 50px;
        margin-left: 0;
      }
    }

    @include xs {
      justify-content: center;

      .footer__select {
        margin-right: 30px;
        margin-left: 0;
      }

      .footer__select:last-child {
        margin-right: 0;
      }
    }
  }

  .footer__column:nth-child(2) {
    margin-left: 200px;

    @include lg {
      margin-left: 0;
    }

    @include xs {
      width: 100%;

      .footer__list--row {
        justify-content: center;
      }
    }
  }

  .footer__bottom {
    border: none;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
  }

  .footer__content {
    @include lg-max {
      padding-right: 0;
      padding-left: 0;
    }
  }
}