.cart-modal {
  position: fixed;
  right: -460px;
  top: 0;
  flex-direction: column;
  width: 460px;
  transition: right var(--delay-modal-off);

  &__empty {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s;

    &--visible {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__empty-img {
    padding-bottom: 20px;
    width: 100%;
    fill: var(--quill-gray);

    @include sm {
      width: 38%;
    }
  }

  &__empty-text {
    display: block;
  }

  &__content {
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 30px;
    height: 100vh;
    background-color: var(--color-white);
  }

  &__top {
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed var(--quill-gray);
    padding: 10px 0;
    width: 90%;
    height: 45px;
    font-size: 15px;

    @include sm {
      height: 35px;
    }
  }

  &__title {
    font-size: 15px;
  }

  &__close {
    position: relative;
    padding-right: 20px;
    color: var(--color-gray);
    transition: color 0.3s;

    &-icon {
      position: absolute;
      right: 0;
      bottom: 2px;
      width: 13px;
      height: 13px;
      fill: var(--color-gray);
      transition: fill 0.3s;
    }

    &:hover {
      color: var(--color-dark);

      .cart-modal__close-icon {
        fill: var(--color-dark);
      }
    }
  }

  &__list {
    margin-top: 55px;
    margin-bottom: 205px;
    min-height: 20%;
    max-height: 90%;

    @include sm {
      margin-top: 45px;
    }
  }

  &__product-wrapper {
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 1px;
        background-color: var(--quill-gray);

        @include sm {
          bottom: -7px;
        }
      }
    }

    &--remove {
      &.cart-modal__product-wrapper::after {
        display: none;
      }
    }
  }

  &__product {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    height: 130px;
    transition: all var(--delay-remove-product);

    &-media {
      overflow: hidden;
      height: 126px;
      transition: opacity 0.5s;

      img {
        width: 100px;
        object-fit: cover;
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.05);
        }

        @include md {
          min-width: 90px;
        }

        @include sm {
          min-width: 80px;
        }

        @include xs {
          min-width: 70px;
        }
      }
    }

    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 50px;
      padding-left: 20px;
      width: 75%;
      height: 100%;
      transition: opacity 0.5s;

      @include xs {
        padding-right: 40px;
      }
    }

    &-name {
      display: block;
      overflow: hidden;
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      transition: opacity 0.4s;

      &:hover {
        opacity: 0.7;
      }

      @include sm {
        font-size: 13px;
      }

      @include xs {
        font-size: 12px;
      }
    }

    &-quantity {
      display: block;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;

      @include xs {
        font-size: 10px;
      }
    }

    &-cost {
      display: inline-block;
      padding-top: 10px;
      font-size: 15px;
      color: var(--color-gray);

      @include sm {
        font-size: 14px;
      }

      @include xs {
        padding-top: 5px;
        font-size: 12px;
      }
    }

    &-cu {
      font-size: 15px;
      color: var(--color-gray);
    }

    &-btn-remove {
      position: absolute;
      right: 15px;
      top: 15px;
      border: 2px solid var(--quill-gray);
      border-radius: 50%;
      width: 18px;
      height: 18px;
      transition: border-color 0.5s;

      .cart-modal__remove-icon {
        position: absolute;
        right: 4px;
        bottom: 4px;
        width: 6px;
        height: 6px;
        fill: var(--color-gray);
        transition: fill 0.5s;
      }

      &:hover {
        border-color: var(--color-dark);

        .cart-modal__remove-icon {
          fill: var(--color-dark);
        }
      }
    }

    &--remove {
      margin-bottom: 0;
      height: 0 !important;
      opacity: 0;
      transform: scale(0.9);
    }

    &--remove-hover {
      opacity: 0.5;
    }

    @include md {
      height: 120px;
    }

    @include sm {
      height: 110px;
    }

    @include xs {
      height: 100px;
    }
  }

  &__bottom {
    position: absolute;
    left: 10%;
    bottom: 90px;
    width: 80%;
    height: 115px;
    opacity: 1;
    transition: all 0.5s;

    @include xs {
      bottom: 75px;
      height: 105px;
    }
  }

  &__total-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;

    @include xs {
      line-height: 50px;
    }
  }

  &__total {
    font-weight: 700;
    font-size: 13px;
    color: var(--color-gray);

    @include xs {
      font-size: 11px;
    }
  }

  &__counter-wrap {
    font-weight: 700;
    font-size: 24px;

    @include xs {
      font-size: 22px;
    }
  }

  &__order-btn,
  &__view-btn {
    display: block;
    width: 100%;
    height: 55px;
    font-size: 10px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: background-color var(--hover-btn-tr-time);

    &:hover {
      background-color: var(--hover-btn-bg);
    }

    @include xs {
      height: 50px;
    }
  }

  &__view-btn {
    color: var(--color-black);
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  &__ad {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--quill-gray);
    opacity: 1;
    transition: all 0.5s;
  }

  &__ad-text {
    display: block;
    font-size: 13px;
    line-height: 33px;
    text-align: center;

    @include xs {
      font-size: 11px;
      line-height: 25px;
    }
  }

  &.cart-modal--visible {
    right: 0;
    display: flex;
    transition: right var(--delay-modal-on);
  }

  @include md {
    right: -420px;
    width: 420px;
  }

  @include sm {
    right: -380px;
    width: 380px;
  }

  @include xs {
    right: -320px;
    width: 320px;
  }
}