.authorization-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  visibility: hidden;

  &__close {
    &-icon {
      position: absolute;
      right: -25px;
      top: 0;
      width: 16px;
      height: 16px;
      fill: var(--dark-gray);
      transition: fill 0.3s;

      &:hover {
        fill: var(--color-white);
      }

      @include xs-rotate {
        right: 47%;
        top: -7%;
      }
    }
  }

  &__into-wrapper {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    width: 450px;
    height: 450px;
    background-color: var(--color-white);
    opacity: 0;
    transform: scale(0);
    transition: all var(--delay-modal-off);

    @include xs {
      margin-top: 5vh;
      margin-bottom: 0;
      width: 98%;
    }

    @include xs-rotate {
      margin-top: 5vh;
      margin-bottom: 0;
      height: 90vh;
    }
  }

  &__top {
    padding-bottom: 20px;
    width: 100%;

    @include xs-rotate {
      padding-bottom: 5px;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__tab-block {
    position: absolute;
    right: calc((450px - 370px) / 2);
    top: 0;
    width: 370px;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;

    &.authorization-modal__tab-block--fade {
      right: -300px;
      opacity: 0;
      visibility: hidden;
    }

    @include xs {
      right: 5%;
      width: 90%;
    }
  }

  &__tab {
    display: inline-block;
    float: left;
    border-bottom: 2px solid var(--quill-gray);
    width: 50%;
    font-weight: 700;
    font-size: 10px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-gray);
    transition: border-color 0.3s, color 0.3s;

    &:hover {
      border-color: var(--color-dark);
      color: var(--color-dark);
    }

    &--active {
      border-color: var(--color-dark);
      color: var(--color-dark);
    }

    @include xs-rotate {
      line-height: 45px;
    }
  }

  &.authorization-modal--visible {
    display: flex;
    visibility: visible;

    //.overlay {
    //  opacity: 1;
    //  visibility: visible;
    //  transition: opacity var(--delay-overlay);
    //}

    .authorization-modal__into-wrapper {
      opacity: 1;
      transform: scale(1);
      transition: all var(--delay-modal-on);
    }
  }
}

.login-block {
  &__form {
    margin-bottom: 20px;

    @include xs-rotate {
      margin-bottom: 5px;
    }
  }

  &__remember-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;

    @include xs-rotate {
      padding: 20px 0;
    }
  }

  &__remember-label {
    padding-top: 3px;
    font-size: 14px;
    cursor: pointer;
  }

  &__remember-checkbox {
    display: none;

    &:checked + span::after {
      content: '';
      position: absolute;
      left: 2px;
      top: 5px;
      width: 10px;
      height: 10px;
      background: url("../img/checkbox-flag.png");
      background-size: cover;
    }
  }

  &__remember-text {
    position: relative;
    user-select: none;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 3px;
      margin-bottom: -3px;
      border: 2px solid #151515;
      width: 15px;
      height: 15px;
      background: #fff;
    }
  }

  &__lost {
    border-bottom: 1px solid;
    padding: 4px 0 0;
    font-size: 13px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__message {
    position: absolute;
    left: 5%;
    bottom: 15px;
    margin-top: 10px;
    width: 90%;
    height: 16px;
    font-size: 13px;
    text-align: center;
    color: var(--error-message);
    transition: opacity 0.5s, height 0.5s;

    &--success {
      color: #008000;
    }
  }

  &__submit,
  &__create-acc {
    width: 100%;
    height: 54px;
    font-size: 10px;
    line-height: 54px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: color var(--hover-btn-tr-time), background-color var(--hover-btn-tr-time);

    &:hover {
      color: var(--color-white);
      background-color: var(--hover-btn-bg);
    }

    @include xs-rotate {
      height: 38px;
      line-height: 38px;
    }
  }

  &__create-acc {
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    background-color: var(--color-white);
  }
}

.reg-block {
  &__form {
    margin-bottom: 20px;

    @include xs-rotate {
      margin-bottom: 5px;
    }
  }

  &__policy {
    font-size: 13px;
    line-height: 18px;

    p {
      margin: 13px 0;

      @include xs-rotate {
        margin: 5px 0;
      }
    }
  }

  &__policy-ref {
    font-weight: 700;
    text-decoration: underline;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.form-field {
  margin-top: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-dark);
  padding: 0;
  width: 100%;
  height: 38px;
  font-size: 18px;
  line-height: 38px;

  &::placeholder {
    font-size: 13px;
    color: var(--quill-gray);
  }

  @include xs-rotate {
    margin-top: 3px;
  }
}