.product {
  position: relative;

  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
    }
  }

  &__sale {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 20;
    border: 2px solid var(--color-dark);
    padding: 4px 10px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #111;
  }

  &__prop {
    margin-bottom: 10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-tundora);

    a {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  &__price {
    font-weight: 700;
  }

  &__old-price {
    font-weight: 500;
    text-decoration: line-through;
    color: #959595;
  }

  &:hover {
    .product__image {
      img {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }

    .product-custom__price {
      transform: translateY(-100%);
      transition: transform 0.3s;
    }

    .product-custom__cart {
      transform: translateY(-100%);
      transition: transform 0.3s;
    }
  }
}

.product-prop {
  display: inline-block;
  padding-left: 16px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #111;
  background-position: left center;
  background-repeat: no-repeat;
}

.new {
  background-image: url("../img/new.png");
}

.best {
  background-image: url("../img/best.png");
}

.hot {
  background-image: url("../img/hot2.png");
}

.product-custom {
  overflow: hidden;
  height: 18px;

  &__price {
    font-size: 13px;
    transition: transform 0.3s;

    > .js-conventional-unit:first-child {
      font-weight: 700;
    }

    .product__price + .js-conventional-unit {
      margin-left: 5px;
      font-weight: 500;
      text-decoration: line-through;
      color: #959595;
    }
  }

  .to-cart {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
  }

  &__cart {
    text-transform: uppercase;
    transition: transform 0.3s;
  }
}