.stepper {
  display: flex;
  border: 1px solid #ccc;
  height: 58px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 100%;

    svg {
      display: block;
      width: 12px;
      height: 12px;
      fill: var(--color-gray);
      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: var(--color-dark);
        transition: fill 0.3s;
      }
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__input {
    flex-grow: 1;
    border: none;
    height: 100%;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark);
  }
}