html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Firefox */
* {
  scrollbar-color: var(--color-gray) var(--quill-gray);
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--quill-gray)
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid var(--color-gray);
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ссс;
  //-webkit-box-shadow: inset 0 0 0 50px #fff;
  transition: background-color 5000s ease-in-out 0s;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  margin: auto;
  max-width: 1920px;
}

.stop-scroll {
  @include stop-scroll;
}

.is-delete {
  display: none !important;
}

.is-hidden {
  opacity: 0 !important;
  transform: scale(0.95) !important;
}

.is-reduce {
  height: 0 !important;
  opacity: 0 !important;
}

.emergence {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.is-disabled {
  pointer-events: none;
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error-field {
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.4);
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 40px;

  @include xs {
    padding: 0 15px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.main-link {
  position: relative;
  font-size: 15px;
  color: var(--color-dark);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s, width 0.3s;
  }

  &:hover {
    &::before {
      width: 100%;
      opacity: 1;
      transition: opacity 0.3s, width 0.3s;
    }
  }

  &--white {
    color: var(--color-white);
  }
}

.container-narrow {
  max-width: 1406px;
}

.header-home-narrow {
  max-width: 1920px;
}

.hero-wrapper {
  @include ultra-wide {
    margin: auto;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      min-height: 700px;
      max-height: 1440px;
      background-color: var(--quill-gray);
    }
  }
}

.to-top {
  position: fixed;
  right: 2%;
  bottom: 10%;
  z-index: 50;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 14px 18px;
  width: 48px;
  height: 48px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  transition: transform 0.3s;

  &:hover {
    transform: rotate(360deg);
    transition: transform 0.3s;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 200vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  opacity: 0;
  visibility: hidden;
  transition: all var(--delay-overlay);

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--delay-overlay);
  }
}